body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: aliceblue;
    background-image: linear-gradient(to right, #f0f8ff, #dfe7ef 20%, #dfe7ef 80%, #f0f8ff);
    z-index: -2;
    position: absolute;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.background {
    overflow: hidden;
}

@keyframes floating {
    0% {
        opacity: 0;
        transform: rotateZ(0deg) translateY(0px);
    }
    50% {
        opacity: 0.5;
        transform: rotateZ(180deg) translateY(25px);
    }
    100% {
        opacity: 0;
        transform: rotateZ(360deg) translateY(50px);
    }
}

.backTriangle {
    position: absolute;
    z-index: -1;
    animation: floating 30s infinite linear;
    transform-origin: 50% 42.5px;
}

.mainPage {
    max-height: 100%;
    overflow-y: scroll;
}

.mainPage::-webkit-scrollbar {
    display: none;
}

h1, .mainDiv {
    background-color: rgba(255, 255, 255, 0.85);
    width: fit-content;
    padding: 3% 5%;
    margin: 3% 0%;
    margin-inline: auto;
    border-radius: 20px;
    border: 3px rgba(0, 165, 255, 0.8) solid;
}

.mainDiv {
    font-size: 23px;
    word-wrap: break-word;
}

.divider {
    background-image: linear-gradient(to right, rgba(0,0,0,0),  rgba(0, 165, 255, 0.8) 10%, rgba(0, 165, 255, 0.8) 90%, rgba(0,0,0,0) 100%);
    height: 5px;
    width: 80%;
    margin-inline: auto;
}

.about {
    display:flex;
    flex-direction: row;
    column-gap: 2%;
    max-width: 80%;
}

.about > img {
    width: 15%;
    height: 15%;
    border-radius: 20px;
}

.tech {
    max-width: 70%;
    width: fit-content;
    padding: 1% 2%;
}

.techCardGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2%;
    row-gap: 10px;
    max-width: 100%;
    height: 90%;
    margin-inline: auto;
}

.techCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border:rgba(0, 165, 255, 0.8) 2px solid;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

.techCard > * {
    width: fit-content;
    margin-inline: auto;
    transition: 0.2s;
}

.techCard > img {
    width: 75px;
    height: 75px;
    filter: invert(40%) sepia(84%) saturate(1272%) hue-rotate(176deg) brightness(103%) contrast(106%);
}

.techCard:hover {
    background-color: rgba(0, 165, 255, 1);
    scale: 1.1;
    color: white;
}

.techCard:hover > img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
}

.project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 80%;
    width: fit-content;
    padding: 3% 4%;    
}

.projectGrid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    max-width: 80%;
}

.projectCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: rgba(0, 165, 255, 0.8) 2px solid;
    border-radius: 10px;
    padding: 10px;
    width: 28%;
    max-width: 28%;
}

.projectCard > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectCard > div > p {
    font-size: 21px;
}

.projectCard > div > .projectTitle {
    font-size: 25px;
}

.projectCard > div > img {
    border-radius: 10px;
    max-width: 80%;
    max-height: 50%;
    width: 225px;
    height: 200px;
}

.projectCardLink {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 3px solid rgb(0, 165, 255);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin: 15px 0;
    transition: 0.2s;
}

.projectCardLink > img {
    width: 75%;
    filter: invert(40%) sepia(84%) saturate(1272%) hue-rotate(176deg) brightness(103%) contrast(106%);
}

.projectCardLink:hover {
    background-color: rgb(0, 165, 255);
    scale: 1.1;
}

.projectCardLink:hover > img {   
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    padding: 3% 4%;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: baseline;
    align-items: center;
    background-color: white;
    row-gap: 10px;
    width: 45%;
    padding: 15px;
    border: rgb(0, 165, 255) 3px solid;
    border-radius: 10px;
}

form > label {
    width: fit-content;
}

form > input, form > textarea {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height:30px;
    height: 30px;
    width: calc(100% - 30px);
    padding: 15px;
    resize: vertical;
    border-radius: 10px;
    border: solid 2px rgb(0, 165, 255);
    font-size: 21px;
    caret-color: black;
    cursor: text;
}

form > textarea {
    min-height: 75px;
    font-size: 19px;
    background-color: white;
}

form > textarea:hover, form > input:hover {
    background-color: rgba(0, 165, 255, 0.3);
}

form > textarea:focus, form > input:focus {
    border: solid 2px rgb(0,105,195);
}

form > button {
    background-color: white;
    color: black;
    border: 3px solid rgb(0, 165, 255);
    border-radius: 10px;
    font-size: 20px;
    padding: 2% 10%;
    cursor: pointer;
    transition: 0.2s;
}

form > button:hover {
    scale: 1.1;
    background-color: rgb(0, 165, 255);
    color: white;
}

.socials {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 45%;
}

.socials > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    background-color: white;
    color: black;
    border: 3px solid rgb(0, 165, 255);
    border-radius: 10px;
    padding: 3% 4%;
    transition: 0.2s
}

.socials > a > img {
    width: 10%;
    margin-right: 5%;
    filter: invert(40%) sepia(84%) saturate(1272%) hue-rotate(176deg) brightness(103%) contrast(106%);
    transition: 0.2s;
}

.socials > a:hover {
    background-color: rgba(0, 165, 255, 1);
    scale: 1.1;
    color: white;
}

.socials > a:hover > img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
}