@keyframes floating {
    0% {
        opacity: 0;
        transform: translateX(0px) rotateZ(0deg);
    }
    50% {
        opacity: 1;
        transform: translateY(25px) rotateZ(180deg);
    }
    100% {
        opacity: 0;
        transform: translateY(50px) rotateZ(360deg);
    }
}

.backTriangle{
    position: absolute;
    z-index: -999;
    animation: floating 10s infinite linear;
}