@keyframes floating {
    0% {
        opacity: 0;
        transform: rotateX('0deg'), translateY("0px");
    }
    50% {
        opacity: 1;
        transform: rotateX('180deg'), translateY("25px");
    }
    100% {
        opacity: 0;
        transform: rotateX('360deg'), translateY("50px");
    }
}

.backTriangle{
    position: absolute;
    z-index: -999;
    animation: floating 10s linear 2s;
}